{{ define "main" }}

{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

{{ $PageContext := . }}
{{ $pages := $PageContext.RegularPages }}
{{ if .IsHome }}
{{ $PageContext = .Site }}
{{ $pages = where $PageContext.RegularPages "Type" $contentTypeName }}
{{ end }}

<div class="flex flex-col py-6 max-w-4xl lg:max-w-5xl relative">
    {{ range $pages.GroupByDate "2006-01" }}

    <div class="post-group py-2 gap-y-3 p-6 mt-6 mx-2 md:mx-0 rounded-lg shadow-md bg-white dark:bg-gray-700">
        <h1 class="text-2xl py-2 font-semibold text-slate-800 dark:text-slate-200"> {{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h1>
        <ul>
            {{ range .Pages }}
            <h1 class="text-lg font-medium underline text-slate-700 dark:text-slate-200">
                <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}, </a>
                {{- if .Date }}
                {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                {{ $dateHuman := .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
                <time datetime="{{ $dateMachine }}">
                    {{ $dateHuman }}
                </time>
            </h1>
            {{ end -}}
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>
{{ end }}
